{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="container"><br><br>
        <h1>Mon Panier</h1><br>

        {% include 'layout/_flash_message.html.twig'%}
        <table class="table table-bordered">
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Prix total</th>
                <th>Action</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price * item.quantity }}</td>
                    <td><a href="{{ path('app_cart_product_remove',{'id':item.product.id}) }}" class="text-danger text-decoration-none">Supprimer du panier</a></td>
                
                </tr>
                {% else %}
                    <p>Votre panier est vide</p>
                
            {% endfor %}
        </table>
        {% if total > 0 %}
            <br><br>
            <h2>Total: {{ total }}€</h2>
            <div class="row">
                <a href="" class="btn btn-primary col-2 m-lg-2">Valider la commande</a>
                <a onclick="return confirm('voulez-vous supprimer tout votre panier ?')" href="{{ path('app_cart_remove') }}" class="btn btn-outline-danger col-2 m-lg-2">Supprimer le panier</a>
            </div>
        {% endif %}
        
    </div>

{% endblock %}
