{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container security-form">
        <div class="login-form">
            <h1>Inscription</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm.email,{'attr':{'class':'form form-control','placeholder':'email'}}) }}<br>

                {{ form_widget(registrationForm.firstName,{'attr':{'class':'form form-control','placeholder':'Prénom'}}) }}<br>
                {{ form_widget(registrationForm.Name,{'attr':{'class':'form form-control','placeholder':'Nom'}}) }}<br>
                {{ form_widget(registrationForm.deliveryAddress,{'attr':{'class':'form form-control','placeholder':'Adresse de livraison'}}) }}<br>

                {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'form form-control','placeholder':'Mot de passe'}}) }}<br>
                {{ form_row(registrationForm.agreeTerms) }}<br>

                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
