{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="container"><br><br>
    <h1>Categories</h1><br><br>

    {% include 'layout/_flash_message.html.twig'%}
    <table class="table">
        <tr>
            <th>id</th>
            <th>nom de la categorie</th>
            <th>action</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_update',{'id':category.id}) }}" class="btn btn-outline-primary">Modifier</a> |
                    <a onclick="return confirm('voulez-vous supprimer cette catégorie')" href="{{ path('app_category_delete',{'id':category.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
            {% else %}
            <p>Aucune categorie à afficher</p>

        {% endfor %}
    </table>
    <br>
    <a href="{{ path('app_category_new') }}" class="btn btn-outline-primary">Ajouter une categorie</a>
</div>
{% endblock %}
