{% extends 'base.html.twig' %}

{% block body %}

    <div class="container"><br><br>
        <h1>Historique d'ajout des stocks de {{ product.name }}</h1><br>

        <table class="table">
            <tr>
                <th>id</th>
                <th>Quantité ajouté</th>
                <th>Date d'ajout</th>
            </tr>

            {% for productAdded in productsAdded %}
                <tr>
                    <td>{{ productAdded.id }}</td>
                    <td>{{ productAdded.qte }}</td>
                    <td>{{ productAdded.createdAt|date('d-M-Y H:i:s') }}</td>

                </tr>
            {% endfor %}

        </table>

        <a href="{{ path('app_product_index') }}" class="btn btn-outline-primary">retour à la liste</a>

    </div>
    
{% endblock %}