{% include 'base.html.twig' %}


{% block body %}
    <div class="container"><br><br>
        <h1>Ajouter le stock pour : {{ product.name }}</h1><br>

        {% include 'layout/_flash_message.html.twig' %}

        {{ form_start(form) }}
            <label for="">Quantité de produits à ajouter :</label>
            {{ form_widget(form.qte,{'attr':{'class':"form form-control"}}) }}<br>
            <input type="submit" class="btn btn-outline-success btn-block">


        {{ form_end(form) }}

        <a href="{{ path('app_product_index') }}" class="btn btn-outline-primary">retour à la liste</a>
    </div>
{% endblock %}