{{ form_start(form) }}
    <label for="">Nom de la sous-catégorie</label>
    {{ form_widget(form.name,{'attr':{'class':'form form-control'}}) }}<br>
    <label for="">Catégorie</label>
    {{ form_widget(form.category,{'attr':{'class':'form form-control'}}) }}<br>
    <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button><br>
{{ form_end(form) }}
