{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Dashboard</h1>
    {% for order in orders %}
        <h5>Commande n°{{ order.id }}</h5>
        <table class="table table-bordered">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Telephone</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Frais de port</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>{{ order.lastname }}</td>
                    <td>{{ order.firstname }}</td>
                    <td>{{ order.phone }}</td>
                    <td>{{ order.adresse }}</td>
                    <td>{{ order.city.name }}</td>
                    <td>{{ order.city.shippingCost }} €</td>
                    <td>{{ order.createdAt|date('d-M-Y H:i:s') }}</td>
                </tr>
                
        </table>
        <h5>Composition de la commande</h5>
        <table class="table table-bordered">
                <tr>
                    <th>Image du produit</th>
                    <th>Nom du produit</th>
                    <th>Prix unitaire</th>
                    <th>Quantité</th>
                    <th>Prix Total</th>
                </tr>
                {% for product in order.orderProducts %}
                    <tr>
                        <td><img style="width: 80px" src="{{ asset('uploads/images/'~product.product.image)}}"  alt="..."></td>
                        <td>{{ product.product.name }}</td>
                        <td>{{ product.product.price }} €</td>
                        <td>{{ product.qte }}</td>
                        <td>{{ product.product.price * product.qte }} €</td>
                    </tr>
                    
                {% endfor %}
                
                
        </table>

        <h4>Total à payer : {{order.totalPrice + order.city.shippingCost}}€</h4>
        
        <br>
        <hr>
    {% endfor %}
</div>
    
    
{% endblock %}